/* stylesheet by Michael Zeevi */
body {
  animation: tripping 6s infinite alternate;
}

@keyframes tripping {
  0% {
    font-family: sans;
    margin: 8px;
    text-shadow: 5px 15px 18px red, 5px 10px 14px magenta;
    color: cyan;
    display: inline;
  }
  66% {
    margin: -10px;
    padding-bottom: 14%;
    line-height: 0.95;
    font-style: em;
    background: linear-gradient(to bottom left, var(--code-background-color) 40%, grey);
    margin: -8px;
    text-shadow: -2px -2px 7px yellow;
    font-size: 90%;
  }
  100% {
    font-family: serif;
    padding-top: 6%;
    padding-left: 6%;
    line-height: 1.05;
    text-shadow: 2px 10px 13px black, 10px 5px 15px lime, 0px 15px 5px orange;
    flex-direction: row;
  }
}
